div.container {
    display: flex;
    flex-direction: column;
}
div.headingbox {
    border-width: 5px;
    border-style: solid;
    border-color: gray;
    margin-bottom: 10px;
}
div.headingbox h2 {
    margin-left: 15px;
}
div.headingbox p {
    margin-left: 15px;
}
div.images {
    display: flex;
    flex-basis: 1100px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
@media (min-width: 768px) {
div.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
div.headingbox {
    max-height: 400px;
}
div.images {
    display: flex;
    flex-basis: 100vw;
    align-content: space-around;
}
}
